.appbar {
    color: #fff;
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    height: 100px;
    justify-content: center;
}

.css-194q3rc {
    padding: 0px !important;
    margin: 0px !important;
}