body {
    background-color: #323259;
    width: 100%;
}

#root {
    width: 100%;
}
.form-create {
    width: 100%;
    background-color: #1b1b38;
}

.form-create-div1 input{
    width: 400px;
    height: auto;
}

.form-create-div1 div {
    display: flex;
    flex-direction: row;
    margin: 0 0 25px 0;
}
.form-create-div1 {
    margin : 40px;
    padding-left: 200px;
}


label {
    color: #fff;
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    width: 100px;
}

.title {
    margin-left: -200px;
    margin-bottom: 20px;
    font-size: 1.625rem;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    line-height: 2rem;
}
.text {
    font-size: 1.125rem;
    margin-bottom: 20px;
    font-family: Open Sans,sans-serif;
    margin-left: -200px;
    line-height: 1.5rem;
}

.delete-form {
    position: sticky;
    bottom: 0;
    background: #323259;
    padding: 15px 2.25rem;
    margin-top: 40px;
    border: 1px solid #1b1b38;
    border-width: 0 0 1px 1px;
    box-shadow: 0 0 13px 0 #b18aff;
    z-index: 2
}

.valid-form {
    display: flex !important;
    flex-direction: column !important;
}