body {
    display : flex;
    background-color :#323259 ;
    width: 100%;
}

.box-search {
    margin: 60px;
    padding-top: 10px
}
.ul-search-1 li{
    padding-right : 20px;
}
.ul-search-2  {
    padding-right:50px;
    width : 100%
}

.box-search ul li{
    padding: 20px;
}
.box-search ul {
    background-color: #323259
}

.form-country div{
    margin-bottom : 5px
}

.delete-form {
    position: sticky;
    bottom: 0;
    background: #323259;
    padding: 15px 2.25rem;
    margin-top: 40px;
    border: 1px solid #1b1b38;
    border-width: 0 0 1px 1px;
    box-shadow: 0 0 13px 0 #b18aff;
    z-index: 2
}

